.login,
.image {
    min-height: 100vh
}

.bg-image {
    background-image: url('http://www.australia.com/contentimages/about-landscapes-nature.jpg');
    background-size: cover;
    background-position: center center;
}
