body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Estilos de los stands*/
@media screen and (min-width: 4001px) {
    body {
        background: red;
        background-size: 100%;
        background-position-y: -140px;
    }
}

@media screen and (min-width: 2501px) and (max-width: 4000px) {
    body {
        background: yellow;
        background-size: 100%;
        background-position-y: -140px;
    }
}

@media screen and (min-width: 1600px) and (max-width: 2500px) {
    body {
        background: green;
        background-size: 100%;
        background-position-y: -140px;
    }
}

@media screen and (max-width: 1599px) {
    body {
        background: blue;
        background-size: 100%;
        background-position-y: -140px;
    }
}