
@{
    ViewBag.Title = "StandsWebinars";
}

    <div class="row" style="background: url(../../Archivos/StandWebinar.jpg); background-size: 100%; height:auto; background-repeat:no-repeat">
        <a href="../Webinars/index?idCongreso=@ViewData["idCongreso"]" class="boton1vistaintermedia"><</a>
        <a href="../Stands/index?idCongreso=@ViewData["idCongreso"]" class="boton2vistaintermedia"></a>

</div>

