@{
    ViewBag.Title = "VistaPrueba";
}

<style>
    body {
        padding-bottom: 0px
    }

    hr {
        display: none
    }

    .bg-header {
        display: none;
    }

    footer {
        display: none;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
</style>
<div class="row" style="background: url(../../Archivos/renderpequeño.png); background-size: 100%; background-position-y: -140px;height:auto; background-repeat:no-repeat">
    <button class="boton1pequeño">1</button>
    <button class="boton2pequeño">2</button>
    <button class="boton3pequeño">3</button>
</div>