@{
    ViewBag.Title = "VistaPrueba";
}
    
    <style>
    body{
           padding-bottom:0px
        }
    hr{
        display:none
    }
    .bg-header{
        display:none;
    }
    footer{
        display:none;
    }
    .row{
        margin-left:0px;
        margin-right:0px;
    }

    </style>
    <div class="row" style="background: url(../../Archivos/render.png); background-size: 100%; background-position-y: -140px; height:auto">
        <button class="boton1grande">1</button>
        <button class="boton2grande">2</button>
        <button class="boton3grande">3</button>
        <button class="boton4grande">4</button>
    </div>