@{
    ViewBag.Title = "VistaPrueba";
}

<style>
    body {
        padding-bottom: 0px
    }

    hr {
        display: none
    }

    .bg-header {
        display: none;
    }

    footer {
        display: none;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
</style>
<div class="row" style="background: url(../../Archivos/rendermedio.png); background-size: 100%; height:auto; background-repeat:no-repeat">
    <button class="boton1medio">1</button>
    <button class="boton2medio">2</button>
    <button class="boton3medio">3</button>
    <button class="boton4medio">4</button>
</div>